<div class="jumbotron">
  <div class="container">
    <div class="song">
      <% if @song && @song.errors.any? %>
        <div>
          <strong>Some issues with your song, please fix them:</strong>
          <ul>
            <% @song.errors.full_messages.each do |song| %>
              <li><%= song %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
   
      <form method="post" action="/songs">
      <h1>Add A Song</h1>
        <div>
          <label>Author:</label>
          <input type="text" name="author" value=" <%= @song && @song.author %>">
        </div>
        <div>
          <label>Title:</label>
          <input type="text" name="title" value=" <%= @song && @song.title %>">
        </div>
        <div>
          <label>Link to Song:</label>
          <input type="text" name="url" value=" <%= @song && @song.url %>">
        </div>
        <div>
          <input type="submit" name="Submit">
        </div>
      </form>
    </div>

    <hr/>
    <a href="/songs">Back to All Songs</a><br>
    <a href="/logout">logout</a> 

  </div>
</div>