<div class="jumbotron">
  <div class="container">
    <h1><%= @song.title %></h1>

    <p>
      Author: <%= @song.author %>
    </p>

    <p>
      <a href="<%= @song.url %>" target="_blank">Listen to Song</a> 
    </p>

    <hr/>
    <a href="/songs">Back to All Songs</a><br>
    <a href="/logout">logout</a>   
  </div>
</div>